.header{
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    h1{
        font-size: 30px;
        line-height: 88px;
        
        color: #32568f;
        text-align: center;
    }
}